body{
  padding: 0px;
  margin: 0px;
  background: white;
  font-family: 'Lora', serif;
  
}
/*vit*/
#vitlogo{

    height: 80px;
    margin-top: 5px;
    margin-right: 5px;
    float: left;
}
#topbar{
    width: 1280px;
    margin: 0 auto;
    height: 40px;
}
#logouticon{
    margin-top: 8px;
    width: 24px;
    height: 23px;
    float: right;
}
#logouttext a{
    color: black;
    font-weight: bold;
    position: relative;
    top: 9px;
    font-size: 90%;
    float: right;
}

#vittext{
    font-size: 30px;
    color: darkblue;
    text-align: center;
    text-decoration: underline;
    text-shadow: goldenrod;
    font-weight: bolder;
    
}

@media screen and (max-width:800px){
  
  #vitlogo{
    height: 50px;
    float: left;
}
#vitlogo img{
  width: 100%;
  height: auto;
  float: left;
}
#topbar{
    width: 100%;
    height: 22px;
}
#logouticon{
    margin-top: 35px;
    margin-right: 10px;
    width: 35px;
    height: 35px;

}
#logouttext a{
    text-align: right;
    color: black;
    font-weight: bold;
    font-size: 60%;
  
}
#vittext{
    font-size: 15px;  
}

}
@media screen and (max-width:450px){
  #vitlogo{
    height: 30px;
    float: left;
    height: 40px;
}
#vitlogo img{
  width: 100%;
  height: auto;
  float: left;
}
#topbar{
    width: 100%;
    height: 20px;
}
#logouticon{
    margin-top: 30px;
    margin-right: 40px;
    width: 30px;
    height: 30px;
    float: right;
   

}
#logouttext a{
    margin-top: 30px;
    margin-right: 20px;
    font-size: 30%;
    color: black;
  
}
#vittext{
    
    margin-left: 25px;
    font-size: 10px; 
    
}

}

/*menu*/
* {
  box-sizing: border-box;
}

header{
  background: black;
  height: 66px;
  margin-top: 50px;
}
header *{
  color: white;
}
header .logo1{
  float: left;
  height: inherit;
  margin-left: 2em;

}
header .logo1-text{
  margin: 9px;
  color : #05f7ff;
  font-family: 'Candal',serif;
}
header ul{
  float: right;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
header ul li{
  float: left;
  position: relative;
}
header ul li ul{
  position: absolute;
  top: 66px;
  right: 0px;
  width: 180px;
  display: none;
}
header ul li:hover ul{
  display: block;
}
header ul li ul li{
  width: 100%;
}
header ul li ul li a{
  padding: 10px;
  background: white;
  color: #444;
}
header ul li ul li a.logout{
  color: red;
}
header ul li ul li a:hover{
  background: #d5d6d6;
}
header ul li a{
  display: block;
  padding: 21px;
  font-size: 1.3em;
  text-decoration: none;
}
header ul li a:hover{
  background: #006669;
  transition: 0.5s;

}
header .menu-toggle{
  display: none;
}

/*media query*/
@media screen and (max-width:750px){
  header{
    position: relative;
    margin-top: 50px;
  }
  header ul{
    width: 100%;
    background: black;
    max-height: 0px;
    overflow: hidden;
  }
  header ul li{
    width: 100%;
  }
  .showing{
    max-height: 80em;
  }

  header ul li ul{
    position: static;
    display: block;
    width: 100%;
  }

  header ul li ul li a{
    padding: 10px;
    background: white;
    color: #444;
  }
  header ul li ul li a.logout{
    color: red;
  }
  header .menu-toggle{
    display: block;
    position: absolute;
    right: 20px;
    top:20px;
    font-size: 1.9em;
  }
 header .logo1 {
    margin-left: .5em;
    text-overflow: hidden;
  } 
  
}

/*vertical menu*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:600&display=swap');

.sidebar{
  margin-top: 20px;
  position: absolute;
  width: 240px;
  left: -240px;
  height: 100%;
  background: #1e1e1e;
  transition: all .5s ease;
}
.sidebar h3{
  font-size: 22px;
  color: white;
  line-height: 40px;
  text-align: center;
  background: #1b1b1b;
  user-select: none;
  font-family: 'Montserrat', sans-serif;
}
.sidebar a{
  display: block;
  height: 65px;
  width: 100%;
  color: white;
  line-height: 65px;
  padding-left: 30px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  border-left: 5px solid transparent;
  font-family: 'Open Sans', sans-serif;
  transition:  .5s;
}
.sidebar a:hover{
  border-left: 5px solid #b93632;
  color: #b93632;
  padding-left: 50px;
}
.sidebar a i{
  font-size: 23px;
  margin-right: 16px;
}
.sidebar a span{
  letter-spacing: 1px;
  text-transform: uppercase;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  border: 1px solid #262626;
  margin: 15px 30px;
  font-size: 29px;
  background: #262626;
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
  
}
label #cancel{
    z-index: 1111;
    left: -50px;
    top: 180px;
}
label #cancel{
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  margin-left: 245px;
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ label #cancel{
  margin-left: 245px;
  opacity: 1;
  visibility: visible;
}

@media(max-width : 750px){
  .sidebar{
    height: auto ;
    width: 70px;
    left: 0;
    margin: 270px 0;
 
  }
  h3, #btn,#cancel{
    display: none;
  }
  span{
    position: absolute;
    margin-left: 10px;
    opacity: 0;
    visibility: hidden;
  }
  .sidebar a{
    height: 60px;
  }
  .sidebar a i{
    margin-left: -10px;
  }
 .sidebar a:hover {
    width: 250px;
    background: inherit;
  }
  .sidebar a:hover span{
    opacity: 1;
    visibility: visible;
  }
}
/*sem book*/
.sem{
    height: 1400px;
    width: auto;
    margin-top: 10px;
    margin-left: 300px;
    margin-bottom: 20px;
    margin-right: 20px;
    background: white;
}
button.accordion{
    cursor:pointer;
    border:none;
    outline:none;
    width:100%;
    text-align:left;
    background-color:#527e6a;
    color:black;
    padding:8px;
    margin:4px 0;
    border-radius:4px;
    transition:0.3s;
  }
  
  button.accordion:hover{
    background-color: #8fb7a5;
  }
  
  button.accordion.active{
    background-color:#8fb7a5;
    color:#000;
    border-radius:4px 4px 0 0;
    margin:4px 0 0;
   }
  
  div.panel{
    background-color:rgba(255,255,255,0.8);
    color:#000;
    border-radius:0 0 4px 4px;
    overflow:hidden;
    opacity:0;
    max-height:0;
    transition:0.3s;
    padding:0 8px;
    margin:0;
  }
  
  div.panel.show{
    opacity:1;
    max-height:500px;
    padding:8px;
    margin:2px 0 4px;
  }
  .sem .panel a{
    margin-top: 20px;
    margin-left: 20px;
    width: auto;
    color: black;
    background-color: honeydew;
    font-size: 17px;
    text-decoration: underline;   
}
.sem .panel a:hover{
    color: red;


}
.sem .panel i{
    color: black;
    margin-left: 10px;
    margin-top: 30px;
    
}
.button{
    cursor: pointer;
    display: inline-block;
    color: black;
    padding: 2px 10px 3px 1px;
    background: white;
    border: 1px solid ;
    float: right;
    margin-right: 90px;
    margin-top: 20px;
}
.button:hover{
    background: #262626;
}
.button i{
    position: relative;
    margin-top: 490px;
    margin-right: 500px;
}
@media screen and (max-width:750px){
  .sem{
    height: 1800px;
    width: 80%;
    margin-top: 10px;
    margin-left: 80px;
    margin-bottom: 20px;
    margin-right: 20px;
    background: white;
}
.button{
  display: none;
}
.sem .panel a{
  margin-top: 20px;
  margin-left: -7px;
  width: 100%;
  font-size: 16px;

}
}
@media screen and (max-width:750px){
  .sem{
    height: 1800px;
    width: 70%;
    margin-top: 10px;
    margin-left: 80px;
    margin-bottom: 20px;
    margin-right: 20px;
    background: white;
}
.button{
  display: none;
}
.sem .panel a{
  margin-top: 20px;
  margin-left: -7px;
  width: 100%;
  font-size: 14px;

}
}
/*footer*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
footer{
  background: #303036;
  color: #d3d3d3;
  position: relative;
  bottom: 0px;
  width: 100%;
  
}
 .footer-content{
  height: 350px;
  display: flex;
}
 .footer-content .footer-section{
  flex: 1;
  padding: 25px; 

}
 .footer-content h1, .footer-content h2{
  color: white;
}
 .footer-content .about h1 span{
  color: #05f7ff;
}
 .footer-content .about .contact span{
  display: block;
  font-size: 1.1em;
  margin-bottom: 8px;

}
 .footer-content .about .socials a{
  border: 1px solid gray;
  width: 45px;
  height: 41px;
  padding-top: 5px;
  padding-right: 5px;
  text-align: center;
  display: inline-block;
  font-size: 1.3em;
  border-radius: 5px;
  transition:  .3s;
  color: white;

}
 .footer-content .about .socials a:hover{
  border: 1px solid white;
  color: white;
  transition: all .3s;
}
 .footer-content .links ul a{
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
  transition: .3s;
  color: white;

}
 .footer-content .links ul a:hover{
  color: white;
  margin-left: 15px;
  transition:  .3s;

}
 .footer-content .contact-form .contact-input{
  background: #272727;
  color: #bebdbd;
  width: 80%;
  margin-bottom: 10px;
  line-height: 1.5rem;
  padding: .7rem 1.2rem;
  border: none;
}
 .footer-content .contact-form .contact-input:focus{
  background: #1a1a1a;

}
.btn-big{
  padding: .9rem 1.3rem;
  line-height: 1.1rem;

}
.btn{
  padding: .5rem 1rem;
  color:white;
  background: #006669;
  border: 1px solid transparent;
  border-radius: .25rem;
  float: right;

}
.btn:hover{
  color: white;
  background: #005255;
}

 .footer-bottom{
  background: #343a40;
  color: #686868;
  height: 50px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
}
@media screen and (max-width:700px){
  footer{
    height: auto;
    
  }
  .footer-content{
    height: auto;
    flex-direction: column;
  }
  .footer-section{
    height: auto;
  }
  .footer-content .contact-form {
    padding-bottom: 90px;
  }
  .btn{
    width: 80%;
    margin-right: 70px;
  }
}